{% extends 'base.html' %}
{% block style %}
    {{ super() }}
    <style type="text/css">
        body{
            background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            position: relative;
        }
        .navbar{
            background-color: #250700;
        }
        span{
            color: white;
        }
        .alert{
            position: absolute;
            top: 51px;
            width: 95%;
            margin-left: 66px;
        }
        #side_bar{
            position: fixed;
            height: 100%;
            width: 5%;
            margin-top: -20px;
            background-color: #250700;
        }
        .navbar li:hover{
            color: black;
            background-color: #250700;
        }

        #side_bar ul img{
            margin-left: -3px;
            margin-bottom: 6px;
            
        }
    </style>
{% endblock  %}
{% block app_content %}
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="javascript:location.reload()"><span>Inicio</span></a>
                    <span><img width="50px" src="{{ url_for('static', filename='IMG/icono1.png') }}" alt="icon-tatto"></span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span>{{ user.user_email_tat }}</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('auth.logout') }}">Cerrar Sesión</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissable">
                <button type="button"
                        data-dismiss="alert"
                        class="close"
                >&times;</button>
                {{message}}
            </div>
        {% endfor %}
        <nav  id="side_bar">
            <ul class="nav">
                <li class="active"><a href="#"><img src="{{ url_for('static', filename='IMG/maquina-de-tatuaje.png') }}" alt="tatto" height="40px"></a></li>
                <li ><a href="#"><img src="{{ url_for('static', filename='IMG/skateboard.png') }}" alt="tatto" height="40px"></a></li>
                <li ><a href="#"><img src="{{ url_for('static', filename='IMG/grafiti.png') }}" alt="tatto" height="40px"></a></li>
            </ul>
        </nav>
    </body>
{% endblock  %}